// Colors
$c-black: #2b2b2b;
$c-white: #ffffff;
$c-grey-light: #eaeaea;
$c-red: #e73043;
$c-dark: #2b2b2b;

// Font size
$base-font-size: 1rem;
$heading-font-size: clamp(1rem, -0.875rem + 8.333vw, 2rem);
$subtitle-font-size: clamp(1rem, -0.875rem + 7.333vw, 1.3rem);
$form-response-font-size: clamp(1rem, -0.875rem + 8.333vw, 1.2rem);
